---
// src/pages/index.astro

// 1. Import the Sanity client that the integration configured for us.
import { sanityClient, urlFor } from "../lib/sanityClient";
import MainLayout from '../layouts/MainLayout.astro';
import type { PageInfo, Certificate } from "../types/sanity"; // We'll create this type file next for type safety
import Skills from "../components/main/skills.astro";
import About from "../components/main/about.astro";
import Resume from "../components/main/resume.astro";
import Project from "../components/main/portfolio.astro";
import Certifiacte from "../components/main/certificate.astro";
import Contact from "../components/main/contact.astro";

// 2. Define the GROQ query to fetch our data.
// We ask for the one document of type "pageInfo" and select the fields we want.
const query = `*[_type == "pageInfo"][0]{ name, backroundImage }`;




// 3. Fetch the data from Sanity using the client and the query.
// The "---" section is called the frontmatter, it runs on the server.
const pageInfo: PageInfo = await sanityClient.fetch(query);

const { name, backroundImage } = pageInfo;
---

<MainLayout>
<!-- Hero Section -->
  <section id="hero" class="hero section dark-background">

    <img src={urlFor(backroundImage).url()} alt="" data-aos="fade-in" class="">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <h2>{name}</h2>
      <p>I'm <span class="typed" data-typed-items="Junior Backend Developer, Junior Data Scientist"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
    </div>

  </section><!-- /Hero Section -->

  <!-- About Section -->
    <About />

  <!-- /Skills Section -->
    <Skills />
  
  <!-- Resume Section -->
    <Resume />

  <!-- Portfolio Section -->
    <Project />

  <!-- Certificate Section -->
    <Certifiacte />

  <!-- Contact Section -->
    

  <style>

  </style>
</MainLayout>